<div class="container">
    <div class="header">
        <h2>шаг 4/4</h2>
        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
    </div>
    <div class="main">
        <div class="accepted">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="#2948e9" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 12 4.7 4.5 9.3-9"/>
            </svg>

            <h1>Поздравляю!</h1>
            <p>Мы записали вас на 17:00, 21 января.</p>
            <p>Чтобы вы не забыли отправим вам напоминание на почту</p>
        </div>

        <button mat-stroked-button routerLink="/" id="finish">Завершить</button>
    </div>
</div>