<div class="container">
    <div class="header">
    <h2>Bootcamp, 1 место</h2>
</div>
<div class="slots">
    <!--<div class="taken">
        <p>12:00-14:00</p>
        <p>16:00-19:00</p>
        <p>20:00-23:00</p>
    </div>
    <div class="free">
        <p>10:00-12:00</p>
        <p>14:00-16:00</p>
        <p>19:00-20:00</p>
    </div>-->

    <div class="taken">
        <mat-list role="list">
            <mat-list-item role="listitem">12:00-14:00</mat-list-item>
            <br>
            <mat-list-item role="listitem">16:00-19:00</mat-list-item>
            <br>
            <mat-list-item role="listitem">20:00-23:00</mat-list-item>
        </mat-list>
    </div>

    <div class="free">
        <mat-list role="list">
            <mat-list-item role="listitem">10:00-12:00</mat-list-item>
            <br>
            <mat-list-item role="listitem">14:00-16:00</mat-list-item>
            <br>
            <mat-list-item role="listitem">19:00-20:00</mat-list-item>
        </mat-list>
    </div>
      

    <button mat-stroked-button class="show">Показать все брони</button>
</div>
</div>