<div class="container">
  <div class="header">
    <h2>шаг 2/3</h2>
    <mat-progress-bar mode="determinate" value="68"></mat-progress-bar>
    <h2 id="header-text">Выберите место(-а)</h2>
  </div>

  <br />

  <div class="main">
    <h1>{{ mode }}</h1>

    <button mat-button class="zone-btn" (click)="changeMode('Standard')">Standard</button>
    <button mat-button class="zone-btn" (click)="changeMode('Bootcamp')">Bootcamp</button>
    
    <div class="grid-container" [ngSwitch]="mode">
      <ng-container *ngSwitchCase="'Bootcamp'">
        <app-bootcamp-zone></app-bootcamp-zone>
      </ng-container>
      <ng-container *ngSwitchCase="'Standard'">
        <app-standard-zone></app-standard-zone>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <app-standard-zone></app-standard-zone>
      </ng-container>
    </div>

  </div>

  <br />

  <div class="nav">
    <button mat-stroked-button class="submit-btn" routerLink="/" id="back">Назад</button>
    <button mat-stroked-button class="submit-btn" routerLink="/finish" id="next">Далее</button>
  </div>
</div>
